{% extends "main.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block afterbody %}
	{% if user.is_authenticated %}
		{% cms_toolbar %}
	{% endif %}
{% endblock afterbody %}

{% block header %}
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			<a class="brand" href="#">
  				django-cms-bootstrap
			</a>
				<ul class="nav">
					{% show_menu %}
				</ul>
				{% if user.is_authenticated %}
				<ul class="nav pull-right">
					<li id="cms_tb_toggle">
						<a href='#'>Edit toolbar</a>
					</li>					
				</ul>
				{% endif %}
			</div>
		</div>
	</div>


	{% addtoblock 'js' %}
		<script src="{{STATIC_URL}}/js/cms-toolbar.js" type="text/javascript" charset="utf-8" async defer></script>
		<script id="toolbar_integration">
			{% if user.is_authenticated %}	//we don't need to show the button 
											// if the user is not authenticated
				window.enableToolbar();

			{% endif %}			
		</script>
	{% endaddtoblock %}
{% endblock header %}



{% block container %}

	{% block cms_container %}{% endblock %}

{% endblock %}