{% load sekizai_tags %}

{% addtoblock 'css' %}
<link rel="stylesheet/less" href="{{STATIC_URL}}bootstrap/less/bootstrap.less">
<link rel="stylesheet/less" href="{{STATIC_URL}}less/itfitness.less">
{% endaddtoblock %}

{% addtoblock 'js' %}

	<script src="{{STATIC_URL}}js/lib/less-1.2.1.min.js" type="text/javascript" charset="utf-8" async defer></script>

	<!--  Underscore.js - uncomment if needed
	<script src="{{STATIC_URL}}js/lib/underscore.js" type="text/javascript" charset="utf-8" async defer></script> -->
	<!--  Backbone.js - uncomment if needed
	<script src="{{STATIC_URL}}js/lib/backbone.js" type="text/javascript" charset="utf-8" async defer></script> -->

	<!-- Hogan.js - uncomment if needed
	<script src="http://twitter.github.com/hogan.js/builds/1.0.3/hogan.js"></script> 
	-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8" async defer></script>

{% endaddtoblock %}		

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">{% render_block 'css' %}</head>

	<body>
		{% block afterbody %}	
		{% endblock afterbody %}

		<header id="header" class="">
		{% block header %}
			
			
		{% endblock header %}
		</header><!-- /header -->

		<div class="container">
		{% block container %}
			
		{% endblock container %}
		</div>

	</body>
	{% render_block 'js' %}
</html>